$paragraph-color:rgba(33, 36, 61, 1);
$brand-color: rgba(20, 40, 80, 1);
$bg-color:rgba(237, 247, 250, 1);
$writing-color:rgba(134, 149, 164, 1);
$white-color: #ffffff;
$button-bgcolor: rgba(255, 100, 100, 1);
$icon-color: #afb1b8;